<div>
  <h5>Create a card for a Customer </h5>
  <form #cardForm="ngForm" (ngSubmit)="createCard(cardForm)">
    <div>
      <label for="number">Account Number:</label>
      <input type="text" id="number" name="number" ngModel>
    </div>
    <div>
      <label for="type">Type:</label>
      <select id="type" name="type" ngModel>
        <option value="debit">Debit</option>
        <option value="credit">Credit</option>
      </select>
    </div>
    <button type="submit">Create Card</button>
  </form>
  
</div>
<div>
<h5>Cards</h5>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Number</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards">
      <td>{{ card.id }}</td>
      <td>{{ card.number }}</td>
      <td>{{ card.type }}</td>
    </tr>
  </tbody>
</table>
</div>