form {
    width: 50%;
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  label {
    font-weight: bold;
    margin-top: 0.3em;
    display: block;
  }
  
  input {
    width: 75%;
    padding: 0.1em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  button{
    width: 75%;
    padding: 0.5em;
    margin-top: 1em;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    form {
      width: 75%;
    }
  }